div(id='gallery')
  div(class='picture-content')
    img(class='picture' src='/img/cherryblossom.jpg')
    p(class="title") cherryblossom
    p(class="time") 2021-04-24

  div(class='picture-content')
    img(class='picture' src='/img/cherryblossom2.jpg')
    p(class="title") cherryblossom2
    p(class="time") 2021-04-24
    
    
  div(class='picture-content')
    img(class='picture' src='/img/cherryblossom3.jpg')
    p(class="title") cherryblossom3
    p(class="time") 2021-04-24
    
  div(class='picture-content')
    img(class='picture' src='/img/cherryblossom4.jpg')
    p(class="title") cherryblossom4
    p(class="time") 2021-04-24
    
  div(class='picture-content')
    img(class='picture' src='/img/cherryblossom5.jpg')
    p(class="title") cherryblossom5
    p(class="time") 2021-04-24
