div(id='gallery')
  div(class='picture-content')
    img(class='picture' src='https://images.unsplash.com/photo-1615280825886-fa817c0a06cc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDR8fGNoZXJyeSUyMGJsb3Nzb218ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60')
      
    p(class="title") 사진
    p(class="time") 2021-04-24

  div(class='picture-content')
    img(class='picture' src='/img/cherryblossom.jpg')
    p(class="title") 사진
    p(class="time") 2021-04-24
    
  div(class='picture-content')
    div(class='picture')
    p(class="title") 사진
    p(class="time") 2021-04-24
    
  div(class='picture-content')
    div(class='picture')
    p(class="title") 사진
    p(class="time") 2021-04-24
    
  div(class='picture-content')
    div(class='picture')
    p(class="title") 사진
    p(class="time") 2021-04-24
    
  div(class='picture-content')
    div(class='picture')
    p(class="title") 사진
    p(class="time") 2021-04-24
    

    

  