doctype html 
html 
  head
    meta(charset="UTF-8") 
    title #{title}
    link(rel="stylesheet", href="/css/layout.css")
    //- favicon issue
    link(rel="icon" href="data:;base64,iVB0Rw0KGfo=")
  body 
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    h1 #{title}