header{
  background-image: url('../img/cherryblossom.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  margin-bottom: 20px;
  height: 200px;
  position:relative;
}

a{
  text-decoration: none;
  color: #bfbfbf;
}

#login,#logout,#join {
  float: right;
  padding: 16px;
  text-decoration: none;
  color: white;
}

#headTitle {
  margin: 0;
  padding-top: 85px;
  color: white;
  font-size: 3em;
  text-align: center;
}

#addbtn{
  height:50px;
  margin-top: 20px;
  border: 3px dotted #bfbfbf;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#addbtn > p {
  font-size: 3em;
  font-weight: bold;
  color: #9aa1ad;
}

.post-container {
  margin-top: 20px;
  padding : 10px;
  border: 1px solid #bfbfbf;
}

.post-head{
  border-bottom : 1px solid #bfbfbf;
}

.post-desc{
  text-align: left;
  font-size : 0.9em;
  color : gray;
  display: inline-block;
}

.post-desc > div{
  padding : 5px;
}

.post-buttons{
  float: right;
}

.post-buttons > button{
  margin: 3px;
}

.post-content > img {
  width : 400px;
  height: 400px;
}

.comment-container{
  margin-top: 20px;
  padding : 10px;
  background-color: #e6e6e6;
  border-radius: 5px;
}

.comment-form {
  display: flex;
}

.comment-form > label{
  flex-grow: 2;
  text-align: center;
}

.comment-form-comment {
  flex-grow : 7;
  width: 500px;
}

.comment-form-btn-register {
  flex-grow: 1;
  margin-left: 10px;
}

.comment{
  margin: 20px;
}
.comment-desc{
  display:flex;
}
.comment-desc > .commenter {
  flex-grow: 7;
  font-weight : bold;
}
.comment-time{
  flex-grow: 3;
  font-size: small;
  color: #a3a3a3;
  text-align: right;
}


